@import 'estilos';
.titulo {
    margin: auto;
    width: 95%;
    max-width: 500px;
    padding: 15px;
    position: relative;
    text-align: center;
    &::before {
        content: '';
        position: absolute;
        width: 80px;
        height: 15px;
        background-color: $color__azulClaro;
        bottom: -5px;
        right: 0;
        margin-top: 7px;
    }
    &::after {
        content: '';
        position: absolute;
        width: 20px;
        height: 30px;
        background-color:  $color__azulClaro;
        bottom: -5px;
        right: 0;
        margin-top: 7px;
    }
    span {
        position: absolute;
        width: 80px;
        height: 15px;
        background-color: $color__azulClaro;
        top: -5px;
        left: 0;
        &:nth-child(2) {
                position: absolute;
                width: 21px;
                height: 30px;
                background-color: $color__azulClaro;
                top: -5px;
                left: 0;
        }
    }
}

.aboutUs, .experience, .gallery, .opinion {
    width: 100%;
    height: auto;
    margin: 30px auto;
    max-width: 100%;
    padding: 12px;
}

// aboutUs 

.aboutUs {
    .aboutUs__presentation {
        width: 100%;
        height: auto;
        margin: auto;
        margin-top: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        align-content: center;
        flex-wrap: wrap;
        .presentation__img {
            width: 100%;
            margin: auto;
            margin-bottom: 20px;
            height: auto;
            position: relative;
            img {
                width: 80%;
                height: 350px;
                margin: auto;
                object-fit: cover;
            }
            &::before {
                content: '';
                position: absolute;
                bottom: -10px;
                left: 0;
                right: 0;
                box-shadow: 0px 0px 10px 5px rgba(164, 164, 164, 0.195);
                width: 100%;
                height: 100px;
                z-index: -1;
               
            }
        }
        .presentation__txt {
            width: 100%;
            .sub-titulo {
                text-transform: capitalize;
                margin-bottom: 10px;
            }
            .texto {
                line-height: 25px;
                font-size: 1.2rem;
            }
        }
    }
    .aboutUs__reasons {

        width: 100%;
        margin: auto;
        margin-top: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        align-content: center;
        flex-wrap: wrap;
        gap: 10px;
        .aboutUs__reasons--item {
            width: 100%;
            height: auto;
            text-align: center;
            img {
                width: 100%;
                height: auto;
                border-radius: 3px;
                padding: 5px;
                border: 5px solid $color__azulOscuro;
                margin-bottom: 15px;
            }
            .sub-titulo {
                color: $color__azulClaro;
                letter-spacing: 1px;
            }
            .texto {
                font-size: 1.2rem;
                line-height: 25px;
            }
        }
    }
}

// Experience

.experience {
    .texto {
        margin-top: 15px;
        font-size: 1.3rem;
        line-height: 25px;
    }
    .experience__container {
        width: 100%;
        margin: auto;
        margin-top: 15px;
        display: flex;
        justify-content: center;
        align-items: center;
        align-content: center;
        flex-wrap: wrap;
        gap: 20px;
        .experience__item {
            text-align: center;
            i {
                display: block;
                color: $color__azulClaro;
                font-size: 3rem;
                margin-bottom: 20px;
            }
            .texto {
                font-size: 1.3rem;
                line-height: 25px;
                strong {
                    display: block;
                    font-size: 2rem;
                    margin-bottom: 10px;
                }
            }
        }
    }
}

.ful-img {
    width: 100dvw;
    height: 100dvh;
    background-color: rgba(0,0,0,.8);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 200;
    display: none;
    align-items: center;
    justify-content: center;
    img {
        width: 95%;
        max-width: 500px;
        margin: auto;
        height: 50%;
        object-position: center;
        object-fit: cover;
    }
    span {
        position: absolute;
        top: 5%;
        right: 3%;
        background-color: $color__azulClaro;
        display: block;
        width: 40px;
        height: 40px;
        display: flex;
        justify-content: center;
        align-content: center;
        align-items: center;
        flex-wrap: wrap;
        padding-top: 10px;
        border-radius: 100%;
        p {
            color: $color__blanco;
            text-align: center;
            width: 100%;
            height: 100%;
            font-weight: 700;
            cursor: pointer;
        }
    }
}

// 
.gallery {
    .texto {
        margin-top: 20px;
        margin-bottom: 20px;
        line-height: 25px;
        font-size: 1.3rem;
    }

    .gallery__container {
       display: grid;
       margin: auto;
        grid-template-columns: repeat(auto-fit,minmax(240px,1fr));
        gap: 15px;
            img {
                cursor: pointer;
                width: 100%;
                height: 250px;
                position: relative;
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
            // &::before { 
            //     content: '';
            //     position: absolute;
            //     top: 0;
            //     left: 0;
            //     width: 100%;
            //     height: 100%;
            //     background-color: #003a6a48;
            //     z-index: 1;
            //     backdrop-filter: blur(5px);
            //     transition: background-color .3s;
            // }
            // &:hover::before {
            //     background-color: transparent;
            //     backdrop-filter: blur(0px);
            // }
    }
}

.opinion {
    .texto {
        margin-top: 15px;
        font-size: 1.3rem;
        line-height: 25px;
        margin-bottom: 20px;
    }
    // .opinion__reseñ {
    //     width: 100%;
    // }
    .opinion__container {
        box-shadow: 3px 4px 5px 10px #0001;
        padding: 10px;
        width: 100%;
        margin: auto;
    }
}

// responsive 

@media screen and (min-width: 480px) {
    .experience {
        .texto {
            margin-top: 15px;
            font-size: 1.3rem;
            line-height: 25px;
        }
        .experience__container {
            .experience__item {
                width: 40%;
                text-align: center;
            }
        }
    }   
}

@media screen and (min-width: 768px) {
    .aboutUs {
        .aboutUs__presentation {
            margin-bottom: 40px;
            .presentation__img {
                width: 50%;
                img {
                    width: 80%;
                    height: 350px;
                }
                &::before {
                    content: '';
                    position: absolute;
                    bottom: -10px;
                    left: 0;
                    right: 0;
                    box-shadow: 0px 0px 10px 5px rgba(164, 164, 164, 0.195);
                    width: 100%;
                    height: 100%;
                    z-index: -1;
                   
                }
            }
            .presentation__txt {
                width: 50%;
                padding: 10px;
            }
        }
        .aboutUs__reasons {
            width: 100%;
            margin: auto;
            margin-top: 20px;
            display: flex;
            justify-content: center;
            align-items:start;
            align-content: center;
            flex-wrap: wrap;
            gap: 30px;
            .aboutUs__reasons--item {
                width: 40%;
                height: auto;
                text-align: center;
                img {
                    width: 100%;
                    height: 300px;
                    object-fit: cover;
                    margin-bottom: 15px;
                }

            }
        }
    }
    .experience {
        .experience__container {
            gap: 30px;
            .experience__item {
                text-align: center;
                width: 25%;
            }
        }
    }
}

@media screen and (min-width: 1024px) {

 .aboutUs {
    .aboutUs__reasons {
        .aboutUs__reasons--item {
            width: 22%;
            height: auto;
            text-align: center;
            &:nth-child(5) {
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                img {
                    flex-shrink: 1;
                }
                .wkv {
                    width: 30%;
                    padding: 0px 10px;
                }
            }
        }
    }
 }
 .experience {
    .experience__container {
        gap: 30px;
        align-items: start;
        .experience__item {
            text-align: center;
            width: 17%;
        }
    }
}
}