.banner {
  width: 100%;
  height: 100dvh;
  margin: auto;
  display: flex;
  justify-content: start;
  align-items: center;
  align-content: center;
  position: relative;
  max-height: 600px;
}
.banner .banner__img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  max-height: 100%;
  overflow: hidden;
}
.banner .banner__img img {
  width: 100%;
  height: 100%;
  max-height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  image-rendering: auto;
  -o-object-position: center;
     object-position: center;
}
.banner .banner__txt {
  position: absolute;
  z-index: 30;
  padding: 10px;
  height: 100%;
  width: 100%;
  justify-content: start;
  color: rgb(255, 255, 255);
  display: flex;
  flex-wrap: wrap;
  text-align: left;
  align-content: center;
}
.banner .banner__txt .max-titulo {
  margin-top: 25px;
  margin-bottom: 18px;
  position: relative;
  text-transform: capitalize;
}
.banner .banner__txt .max-titulo::before {
  content: "";
  position: absolute;
  width: 10%;
  height: 3px;
  border-radius: 5px;
  background-color: rgb(226, 0, 21);
  bottom: -5px;
  left: 0;
  margin-top: 7px;
}
.banner .banner__txt .max-titulo::after {
  content: "";
  position: absolute;
  width: 80%;
  height: 3px;
  border-radius: 5px;
  background-color: rgba(226, 0, 21, 0.5);
  bottom: -5px;
  left: 0;
  margin-top: 7px;
}
.banner .banner__txt .texto {
  width: 100%;
  font-size: 1.3rem;
  line-height: 30px;
  margin-bottom: 13px;
}
.banner .banner__txt a {
  text-decoration: none;
  border-radius: 3px;
  color: rgb(255, 255, 255);
  background-color: rgb(0, 48, 75);
  padding: 9px 6px;
  position: relative;
  z-index: 1;
  overflow: hidden;
  display: block;
  transition: all 0.3s;
}
.banner .banner__txt a:hover {
  color: rgb(0, 48, 75);
}
.banner .banner__txt a::after {
  content: "";
  background-color: rgb(255, 255, 255); /* color de fondo hover */
  position: absolute;
  z-index: -1;
  padding: 16px 20px;
  display: block;
  left: 0;
  right: 0;
  top: 100%;
  bottom: -100%;
  transition: all 0.35s;
}
.banner .banner__txt a:hover::after {
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  transition: all 0.35s;
}
.banner::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  max-height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  top: 0;
  left: 0;
  overflow: hidden;
  z-index: 10;
}
.banner::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 50px;
  background-color: rgb(255, 255, 255);
  z-index: 40;
  -webkit-clip-path: polygon(100% 0, 0 0, 0 93%);
          clip-path: polygon(100% 0, 0 0, 0 93%);
  bottom: -1px;
  transform: rotate(180deg);
}

.contenedor {
  width: 100%;
  margin: auto;
  max-width: 1300px;
}

.max-titulo, .titulo, .sub-titulo, .mini-titulo {
  font-family: sans-serif;
  word-wrap: break-word;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

.texto {
  line-height: 25px;
  font-size: 1.3rem;
}

.texto, a, span, li, input, label, strong, i, b, em {
  font-family: sans-serif;
  font-size: 1.1em;
  word-wrap: break-word;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

.max-titulo {
  font-size: 2.5em;
}

.titulo {
  font-size: 2em;
}

.sub-titulo {
  font-size: 1.5em;
}

.mini-titulo {
  font-size: 1em;
}

html {
  scroll-behavior: smooth;
}

header {
  margin: auto;
  width: 100%;
  max-width: 1300px;
  height: 60px;
  position: fixed;
  background-color: #003b6a;
  top: 20px;
  left: 0;
  right: 0;
  z-index: 100;
  display: flex;
  flex-direction: row;
  align-items: start;
  justify-content: space-between;
  flex-wrap: wrap;
}
header .logo {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  align-items: center;
  justify-content: start;
  width: 40%;
  height: 100%;
  position: relative;
  top: -10px;
  left: 10px;
}
header .logo img {
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  width: 50px;
  height: 50px;
  margin-bottom: 4px;
}
header .logo .logo__title {
  display: block;
  width: 100%;
  font-weight: 700;
  font-size: 1rem;
  color: rgb(255, 255, 255);
}
header .logo .logo__title strong {
  color: rgb(226, 0, 21);
  font-size: 1rem;
}
header .icon-menu {
  margin-top: 12px;
  margin-right: 10px;
}
header .icon-menu i {
  font-size: 1.2rem;
  color: rgb(255, 255, 255);
  border: 1px solid rgb(255, 255, 255);
  padding: 7px 10px;
  border-radius: 5px;
  cursor: pointer;
  background-color: transparent;
  transition: background-color 0.3s;
}
header .icon-menu i:hover {
  background-color: rgb(0, 48, 75);
}
header .menu {
  position: absolute;
  top: 60px;
  background-color: rgba(0, 58, 106, 0.8352941176);
  -webkit-backdrop-filter: blur(20px);
          backdrop-filter: blur(20px);
  width: 100%;
  margin: auto;
  height: 90dvh;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  align-items: center;
  -webkit-clip-path: circle(0% at 95.3% 8.5%);
          clip-path: circle(0% at 95.3% 8.5%);
  transition: -webkit-clip-path 0.3s;
  transition: clip-path 0.3s;
  transition: clip-path 0.3s, -webkit-clip-path 0.3s;
}
header .menu .menu__list {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  gap: 12px;
}
header .menu .menu__list .menu__item {
  margin: auto;
  text-align: center;
  width: 100%;
}
header .menu .menu__list .menu__item a {
  display: block;
  width: 100%;
  position: relative;
  padding: 10px;
  height: 100%;
  color: rgb(255, 255, 255);
  text-decoration: none;
  text-transform: capitalize;
  transition: background-color 0.3s;
}
header .menu .menu__list .menu__item a:hover {
  background-color: rgb(0, 48, 75);
}
header .menu .menu__list .menu__item a i {
  position: absolute;
  margin-left: 10px;
  transition: transform 0.3s;
}
header .menu .menu__list .menu__item .link__active {
  background-color: rgb(0, 48, 75);
  border: none !important;
}
header .menu .menu__list .menu__item a:hover i {
  transform: rotate(180deg);
}
header .menu .menu__list .menu__item .submenu {
  background-color: rgba(36, 62, 84, 0.5882352941);
  border-bottom: 1px solid rgba(255, 255, 255, 0.4);
  border-top: 1px solid rgba(255, 255, 255, 0.4);
}
header .menu .menu__list .menu__item .submenu .submenu__item {
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  border-top: 1px solid rgba(255, 255, 255, 0.2);
}
header .menu .menu__list .menu__item .submenu .submenu__item a:hover {
  background-color: rgba(255, 255, 255, 0.1333333333);
}
header .active {
  -webkit-clip-path: circle(140% at 95.3% 8.5%);
          clip-path: circle(140% at 95.3% 8.5%);
}

.bannerIndex {
  position: relative;
  width: 100%;
  margin: auto;
  height: 100dvh;
}
.bannerIndex::after {
  content: "";
  z-index: 15;
  position: absolute;
  width: 100%;
  height: 100dvh;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.705);
}
.bannerIndex .bannerIndex__txt {
  position: absolute;
  z-index: 20;
  width: 100%;
  max-width: 500px;
  height: 100%;
  display: flex;
  justify-content: start;
  align-items: center;
  align-content: center;
  margin: auto;
  text-align: left;
  padding-right: 20px;
  padding-left: 8px;
  padding-top: 60px;
  flex-wrap: wrap;
}
.bannerIndex .bannerIndex__txt .max-titulo {
  color: rgb(255, 255, 255);
  text-transform: uppercase;
  letter-spacing: 5px;
  margin-bottom: 10px;
}
.bannerIndex .bannerIndex__txt .titulo {
  color: rgb(255, 255, 255);
  margin-bottom: 10px;
}
.bannerIndex .bannerIndex__txt .texto {
  color: rgb(255, 255, 255);
  line-height: 25px;
}
.bannerIndex .bannerIndex__txt a {
  display: block;
  text-align: left;
  margin: 0;
  text-decoration: none;
  margin: 15px 0;
  color: rgb(255, 255, 255);
  border: 1px solid rgb(255, 255, 255);
  background-color: rgb(76, 144, 205);
  padding: 10px 5px;
  border-radius: 5px;
  transition: background-color 0.3s;
}
.bannerIndex .bannerIndex__txt a:hover {
  background-color: rgb(255, 255, 255);
  color: rgb(76, 144, 205);
}
.bannerIndex .bannerIndex__slider {
  position: absolute;
  width: 100%;
  height: 100dvh;
  z-index: 5;
  top: 0;
  left: 0;
  right: 0;
  margin: auto;
}
.bannerIndex .bannerIndex__slider .slider__container {
  width: 100%;
  margin: auto;
  height: 100%;
  overflow: hidden;
}
.bannerIndex .bannerIndex__slider .slider__container .slide {
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: stretch;
  align-content: center;
  padding: 0px;
  width: 600%;
  height: 100%;
  animation: slide 60s infinite cubic-bezier(0.445, 0.05, 0.55, 0.95);
}
@keyframes slide {
  0% {
    margin-left: 0;
  }
  10% {
    margin-left: 0;
  }
  15% {
    margin-left: -100%;
  }
  25% {
    margin-left: -100%;
  }
  30% {
    margin-left: -200%;
  }
  40% {
    margin-left: -200%;
  }
  45% {
    margin-left: -300%;
  }
  55% {
    margin-left: -300%;
  }
  60% {
    margin-left: -300%;
  }
  70% {
    margin-left: -300%;
  }
  75% {
    margin-left: -400%;
  }
  85% {
    margin-left: -400%;
  }
  90% {
    margin-left: -500%;
  }
  100% {
    margin-left: -500%;
  }
}
.bannerIndex .bannerIndex__slider .slider__container .slide .slider__item {
  width: 100%;
  height: 100%;
}
.bannerIndex .bannerIndex__slider .slider__container .slide .slider__item img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

footer {
  width: 100%;
  margin: auto;
  padding: 10px;
  background-image: url("../img/4.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  background-attachment: fixed;
  color: rgb(255, 255, 255);
}
footer::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  margin: auto;
  top: 0;
  left: 0;
  background-color: #003b6a;
  opacity: 0.9;
  z-index: 1;
}
footer .container__flex {
  display: flex;
  justify-content: center;
  align-items: start;
  align-content: center;
  text-align: center;
  gap: 20px;
  flex-wrap: wrap;
}
footer .container__flex .column__33 {
  width: 100%;
  position: relative;
  z-index: 1;
}
footer .container__flex .column__33 a {
  display: block;
  color: rgb(255, 255, 255);
  margin: 5px auto;
  text-decoration: none;
  text-transform: capitalize;
}
footer .container__flex .column__33 .mini-titulo {
  text-transform: capitalize;
  margin-bottom: 15px;
  text-shadow: 3px 2px 5px rgb(255, 255, 255);
}
footer .container__flex .column__33 span {
  display: block;
  font-size: 1rem;
  margin-bottom: 8px;
}
footer .container__flex .column__33 i {
  margin-right: 5px;
}

@media screen and (min-width: 480px) {
  header .logo {
    flex-wrap: nowrap;
  }
  header .logo img {
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: center;
       object-position: center;
    width: 90px;
    height: 60px;
    margin-bottom: 4px;
  }
  header .logo .logo__title {
    margin-left: 10px;
    font-size: 1.1rem;
  }
  .bannerIndex .bannerIndex__txt .max-titulo {
    font-size: 3.3rem;
  }
  .bannerIndex .bannerIndex__txt .titulo {
    font-size: 2.5rem;
    color: rgb(255, 255, 255);
    margin-bottom: 10px;
  }
  .bannerIndex .bannerIndex__txt .texto {
    color: rgb(255, 255, 255);
    line-height: 25px;
    font-size: 1.1rem;
  }
  .bannerIndex .bannerIndex__txt a {
    font-size: 1.1rem;
  }
}
@media screen and (min-width: 768px) {
  .banner .banner__txt {
    max-width: 500px;
  }
  .banner .banner__txt .max-titulo {
    font-size: 3.5rem;
  }
  .banner .banner__txt .texto {
    width: 100%;
    font-size: 1.4rem;
    line-height: 30px;
    margin-bottom: 13px;
  }
  .banner .banner__txt a {
    font-size: 1.4rem;
  }
  footer .contenedor .container__flex .column__33 {
    width: 30%;
  }
}
@media screen and (min-width: 1024px) {
  header {
    align-items: center;
  }
  header .logo {
    width: 25%;
  }
  header .logo .logo__title {
    display: block;
    width: 100%;
    font-weight: 700;
    font-size: 1rem;
    color: rgb(255, 255, 255);
  }
  header .logo .logo__title strong {
    color: rgb(226, 0, 21);
    font-size: 1rem;
  }
  header .icon-menu {
    display: none;
  }
  header .menu {
    height: auto;
    position: static;
    top: 0;
    background-color: transparent;
    -webkit-backdrop-filter: blur(0);
            backdrop-filter: blur(0);
    width: 75%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: start;
    align-content: start;
    -webkit-clip-path: circle(140% at 95.3% 8.5%);
            clip-path: circle(140% at 95.3% 8.5%);
  }
  header .menu .menu__list {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: start;
    align-content: start;
    list-style: none;
    gap: 10px;
  }
  header .menu .menu__list .menu__item {
    margin: auto;
    text-align: center;
    width: auto;
    height: 100%;
  }
  header .menu .menu__list .menu__item a {
    display: block;
    padding: 20px 5px;
    transition: border-bottom 0.7s;
  }
  header .menu .menu__list .menu__item a:hover {
    border-bottom: 1px solid rgb(255, 255, 255);
    background-color: transparent;
  }
  header .menu .menu__list .menu__item a i {
    position: relative;
  }
  header .menu .menu__list .menu__item .link__active {
    border-bottom: 1px solid rgb(255, 255, 255);
  }
  header .menu .menu__list .menu__item .submenu {
    display: none;
    background-color: rgb(0, 48, 75);
  }
  header .menu .menu__list .menu__item .submenu .submenu__item a:hover {
    background-color: rgba(255, 255, 255, 0.1333333333);
  }
  .bannerIndex .bannerIndex__txt .max-titulo {
    font-size: 3.8rem;
  }
  .bannerIndex .bannerIndex__txt .titulo {
    font-size: 3rem;
    color: rgb(255, 255, 255);
    margin-bottom: 10px;
  }
  .bannerIndex .bannerIndex__txt .texto {
    color: rgb(255, 255, 255);
    line-height: 29px;
    font-size: 1.2rem;
  }
  .bannerIndex .bannerIndex__txt a {
    font-size: 1.1rem;
  }
}
.titulo {
  margin: auto;
  width: 95%;
  max-width: 500px;
  padding: 15px;
  position: relative;
  text-align: center;
}
.titulo::before {
  content: "";
  position: absolute;
  width: 80px;
  height: 15px;
  background-color: rgb(76, 144, 205);
  bottom: -5px;
  right: 0;
  margin-top: 7px;
}
.titulo::after {
  content: "";
  position: absolute;
  width: 20px;
  height: 30px;
  background-color: rgb(76, 144, 205);
  bottom: -5px;
  right: 0;
  margin-top: 7px;
}
.titulo span {
  position: absolute;
  width: 80px;
  height: 15px;
  background-color: rgb(76, 144, 205);
  top: -5px;
  left: 0;
}
.titulo span:nth-child(2) {
  position: absolute;
  width: 21px;
  height: 30px;
  background-color: rgb(76, 144, 205);
  top: -5px;
  left: 0;
}

.aboutUs, .experience, .gallery, .opinion {
  width: 100%;
  height: auto;
  margin: 30px auto;
  max-width: 100%;
  padding: 12px;
}

.aboutUs .aboutUs__presentation {
  width: 100%;
  height: auto;
  margin: auto;
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-wrap: wrap;
}
.aboutUs .aboutUs__presentation .presentation__img {
  width: 100%;
  margin: auto;
  margin-bottom: 20px;
  height: auto;
  position: relative;
}
.aboutUs .aboutUs__presentation .presentation__img img {
  width: 80%;
  height: 350px;
  margin: auto;
  -o-object-fit: cover;
     object-fit: cover;
}
.aboutUs .aboutUs__presentation .presentation__img::before {
  content: "";
  position: absolute;
  bottom: -10px;
  left: 0;
  right: 0;
  box-shadow: 0px 0px 10px 5px rgba(164, 164, 164, 0.195);
  width: 100%;
  height: 100px;
  z-index: -1;
}
.aboutUs .aboutUs__presentation .presentation__txt {
  width: 100%;
}
.aboutUs .aboutUs__presentation .presentation__txt .sub-titulo {
  text-transform: capitalize;
  margin-bottom: 10px;
}
.aboutUs .aboutUs__presentation .presentation__txt .texto {
  line-height: 25px;
  font-size: 1.2rem;
}
.aboutUs .aboutUs__reasons {
  width: 100%;
  margin: auto;
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-wrap: wrap;
  gap: 10px;
}
.aboutUs .aboutUs__reasons .aboutUs__reasons--item {
  width: 100%;
  height: auto;
  text-align: center;
}
.aboutUs .aboutUs__reasons .aboutUs__reasons--item img {
  width: 100%;
  height: auto;
  border-radius: 3px;
  padding: 5px;
  border: 5px solid rgb(0, 48, 75);
  margin-bottom: 15px;
}
.aboutUs .aboutUs__reasons .aboutUs__reasons--item .sub-titulo {
  color: rgb(76, 144, 205);
  letter-spacing: 1px;
}
.aboutUs .aboutUs__reasons .aboutUs__reasons--item .texto {
  font-size: 1.2rem;
  line-height: 25px;
}

.experience .texto {
  margin-top: 15px;
  font-size: 1.3rem;
  line-height: 25px;
}
.experience .experience__container {
  width: 100%;
  margin: auto;
  margin-top: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-wrap: wrap;
  gap: 20px;
}
.experience .experience__container .experience__item {
  text-align: center;
}
.experience .experience__container .experience__item i {
  display: block;
  color: rgb(76, 144, 205);
  font-size: 3rem;
  margin-bottom: 20px;
}
.experience .experience__container .experience__item .texto {
  font-size: 1.3rem;
  line-height: 25px;
}
.experience .experience__container .experience__item .texto strong {
  display: block;
  font-size: 2rem;
  margin-bottom: 10px;
}

.ful-img {
  width: 100dvw;
  height: 100dvh;
  background-color: rgba(0, 0, 0, 0.8);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 200;
  display: none;
  align-items: center;
  justify-content: center;
}
.ful-img img {
  width: 95%;
  max-width: 500px;
  margin: auto;
  height: 50%;
  -o-object-position: center;
     object-position: center;
  -o-object-fit: cover;
     object-fit: cover;
}
.ful-img span {
  position: absolute;
  top: 5%;
  right: 3%;
  background-color: rgb(76, 144, 205);
  display: block;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding-top: 10px;
  border-radius: 100%;
}
.ful-img span p {
  color: rgb(255, 255, 255);
  text-align: center;
  width: 100%;
  height: 100%;
  font-weight: 700;
  cursor: pointer;
}

.gallery .texto {
  margin-top: 20px;
  margin-bottom: 20px;
  line-height: 25px;
  font-size: 1.3rem;
}
.gallery .gallery__container {
  display: grid;
  margin: auto;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  gap: 15px;
}
.gallery .gallery__container img {
  cursor: pointer;
  width: 100%;
  height: 250px;
  position: relative;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.opinion .texto {
  margin-top: 15px;
  font-size: 1.3rem;
  line-height: 25px;
  margin-bottom: 20px;
}
.opinion .opinion__container {
  box-shadow: 3px 4px 5px 10px rgba(0, 0, 0, 0.0666666667);
  padding: 10px;
  width: 100%;
  margin: auto;
}

@media screen and (min-width: 480px) {
  .experience .texto {
    margin-top: 15px;
    font-size: 1.3rem;
    line-height: 25px;
  }
  .experience .experience__container .experience__item {
    width: 40%;
    text-align: center;
  }
}
@media screen and (min-width: 768px) {
  .aboutUs .aboutUs__presentation {
    margin-bottom: 40px;
  }
  .aboutUs .aboutUs__presentation .presentation__img {
    width: 50%;
  }
  .aboutUs .aboutUs__presentation .presentation__img img {
    width: 80%;
    height: 350px;
  }
  .aboutUs .aboutUs__presentation .presentation__img::before {
    content: "";
    position: absolute;
    bottom: -10px;
    left: 0;
    right: 0;
    box-shadow: 0px 0px 10px 5px rgba(164, 164, 164, 0.195);
    width: 100%;
    height: 100%;
    z-index: -1;
  }
  .aboutUs .aboutUs__presentation .presentation__txt {
    width: 50%;
    padding: 10px;
  }
  .aboutUs .aboutUs__reasons {
    width: 100%;
    margin: auto;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: start;
    align-content: center;
    flex-wrap: wrap;
    gap: 30px;
  }
  .aboutUs .aboutUs__reasons .aboutUs__reasons--item {
    width: 40%;
    height: auto;
    text-align: center;
  }
  .aboutUs .aboutUs__reasons .aboutUs__reasons--item img {
    width: 100%;
    height: 300px;
    -o-object-fit: cover;
       object-fit: cover;
    margin-bottom: 15px;
  }
  .experience .experience__container {
    gap: 30px;
  }
  .experience .experience__container .experience__item {
    text-align: center;
    width: 25%;
  }
}
@media screen and (min-width: 1024px) {
  .aboutUs .aboutUs__reasons .aboutUs__reasons--item {
    width: 22%;
    height: auto;
    text-align: center;
  }
  .aboutUs .aboutUs__reasons .aboutUs__reasons--item:nth-child(5) {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .aboutUs .aboutUs__reasons .aboutUs__reasons--item:nth-child(5) img {
    flex-shrink: 1;
  }
  .aboutUs .aboutUs__reasons .aboutUs__reasons--item:nth-child(5) .wkv {
    width: 30%;
    padding: 0px 10px;
  }
  .experience .experience__container {
    gap: 30px;
    align-items: start;
  }
  .experience .experience__container .experience__item {
    text-align: center;
    width: 17%;
  }
}/*# sourceMappingURL=conocenos.css.map */